
*{
    font-family: "Poppins", sans-serif;
}

body{
    /* background: #FFFFFF; */
}

.font-bangla{
    font-family: "Hind Silliguri", sans-serif;
}

.primary-color{
    color: rgb(66, 165, 245);
}

.active{
    color: white;
    background: rgb(66, 42, 213);
}